<!DOCTYPE html>
<html id="home" lang="ja">
<head>
  <meta charset="utf-8" />
  <title>記事投稿</title>
  <link rel="stylesheet" href="/css/html5demos.css" type="text/css" />
  <script src="js/h5utils.js"></script> 
  <script src="js/modernizr.custom.js"></script> 
</head>
<body>
  <form action="/admin/posts" method="post">
    <input type="text" id="article-title" name="title" />
    <textarea id="article-body" name="body" columns="100" rows="10"></textarea>
    <input type="submit" value="投稿" />
  </form>
  <a href="/">Top</a>
</body>
</html>
